<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.pay.service.dao.TradeLogMapper">

    <update id="updateTradeStatus">
        update trade_log
        set trade_status = #{newTradeStatus}
        where id = #{id}
        and trade_status = #{oldTradeStatus}
    </update>

</mapper>