<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.registration.service.dao.ApplicationFormTemplateMapper">

    <resultMap id="applicationFormTemplate"
               type="com.xiaohuashifu.recruit.registration.service.do0.ApplicationFormTemplateDO">
        <id property="id" column="id"/>
        <result property="recruitmentId" column="recruitment_id"/>
        <result property="prompt" column="prompt"/>
        <result property="avatar" column="is_avatar"/>
        <result property="fullName" column="is_full_name"/>
        <result property="phone" column="is_phone"/>
        <result property="firstDepartment" column="is_first_department"/>
        <result property="secondDepartment" column="is_second_department"/>
        <result property="email" column="is_email"/>
        <result property="introduction" column="is_introduction"/>
        <result property="attachment" column="is_attachment"/>
        <result property="studentNumber" column="is_student_number"/>
        <result property="college" column="is_college"/>
        <result property="major" column="is_major"/>
        <result property="note" column="is_note"/>
        <result property="deactivated" column="is_deactivated"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="applicationFormTemplate">
        id, recruitment_id, prompt, is_avatar, is_full_name, is_phone, is_first_department, is_second_department,
        is_email, is_introduction, is_attachment, is_student_number, is_college, is_major, is_note, is_deactivated,
        create_time, update_time
    </sql>

    <insert id="insertApplicationFormTemplate" keyProperty="id">
        insert into application_form_template(recruitment_id, prompt, is_avatar, is_full_name, is_phone,
                                              is_first_department, is_second_department, is_email, is_introduction,
                                              is_attachment, is_student_number, is_college, is_major, is_note)
        values(#{recruitmentId}, #{prompt}, #{avatar}, #{fullName}, #{phone}, #{firstDepartment}, #{secondDepartment},
               #{email}, #{introduction}, #{attachment}, #{studentNumber}, #{college}, #{major}, #{note})
    </insert>

    <select id="getApplicationFormTemplate" resultMap="applicationFormTemplate">
        select <include refid="applicationFormTemplate"/>
        from application_form_template
        where id = #{id}
    </select>

    <select id="getApplicationFormTemplateByRecruitmentId" resultMap="applicationFormTemplate">
        select <include refid="applicationFormTemplate"/>
        from application_form_template
        where recruitment_id = #{recruitmentId}
    </select>

    <select id="getRecruitmentId" resultType="java.lang.Long">
        select recruitment_id
        from application_form_template
        where id = #{id}
    </select>

    <select id="getDeactivatedByRecruitmentId" resultType="java.lang.Boolean">
        select is_deactivated
        from application_form_template
        where recruitment_id = #{recruitmentId}
    </select>

    <select id="countByRecruitmentId" resultType="java.lang.Integer">
        select count(*)
        from application_form_template
        where recruitment_id = #{recruitmentId}
    </select>

    <update id="updateApplicationFormTemplate">
        update application_form_template
        set is_avatar = #{avatar}, is_full_name = #{fullName}, is_phone = #{phone},
            is_first_department = #{firstDepartment}, is_second_department = #{secondDepartment}, is_email = #{email},
            is_introduction = #{introduction}, is_attachment = #{attachment}, is_student_number = #{studentNumber},
            is_college = #{college}, is_major = #{major}, is_note = #{note}
        where id = #{id}
    </update>

    <update id="updatePrompt">
        update application_form_template
        set prompt = #{prompt}
        where id = #{id}
    </update>

    <update id="updateDeactivated">
        update application_form_template
        set is_deactivated = #{deactivated}
        where id = #{id}
        and is_deactivated = !#{deactivated}
    </update>

</mapper>