<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.registration.service.dao.InterviewEvaluationMapper">

    <resultMap id="interviewEvaluation" type="com.xiaohuashifu.recruit.registration.service.do0.InterviewEvaluationDO">
        <id property="id" column="id"/>
        <result property="interviewFormId" column="interview_form_id"/>
        <result property="interviewerId" column="interviewer_id"/>
        <result property="evaluation" column="evaluation"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="interviewEvaluation">
        id, interview_form_id, interviewer_id, evaluation, create_time, update_time
    </sql>

    <insert id="insertInterviewEvaluation" keyProperty="id">
        insert into interview_evaluation(interview_form_id, interviewer_id, evaluation)
        values(#{interviewFormId}, #{interviewerId}, #{evaluation})
    </insert>

    <select id="getInterviewEvaluation" resultMap="interviewEvaluation">
        select <include refid="interviewEvaluation"/>
        from interview_evaluation
        where id = #{id}
    </select>

    <select id="getInterviewerId" resultType="java.lang.Long">
        select interviewer_id
        from interview_evaluation
        where id = #{id}
    </select>

    <select id="getInterviewFormId" resultType="java.lang.Long">
        select interview_form_id
        from interview_evaluation
        where id = #{id}
    </select>

    <select id="countByInterviewFormIdAndInterviewerId" resultType="java.lang.Integer">
        select count(*)
        from interview_evaluation
        where interview_form_id = #{interviewFormId}
        and interviewer_id = #{interviewerId}
    </select>

    <update id="updateEvaluation">
        update interview_evaluation
        set evaluation = #{evaluation}
        where id = #{id}
    </update>

</mapper>