<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.authentication.service.dao.PermittedUrlMapper">
    <sql id="permittedUrl">
        id, url, create_time, update_time
    </sql>

    <insert id="savePermittedUrl" keyProperty="id">
        insert into permitted_url(url)
        values(#{url})
    </insert>

    <delete id="deletePermittedUrl">
        delete from permitted_url
        where id = #{id}
    </delete>

    <select id="getPermittedUrl" resultType="permittedUrl">
        select <include refid="permittedUrl"/>
        from permitted_url
        where id = #{id}
    </select>

    <select id="getPermittedUrlByQuery" resultType="permittedUrl">
        select <include refid="permittedUrl"/>
        from permitted_url
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="idList != null">
                and id in (
                <foreach collection="idList"  item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="url != null">
                and url like "%"#{url}"%"
            </if>
        </where>
    </select>

    <select id="getAllUrl" resultType="string">
        select url
        from permitted_url
    </select>

    <select id="count" resultType="int">
        select count(*)
        from permitted_url
        where id = #{id}
    </select>

    <select id="countByUrl" resultType="int">
        select count(*)
        from permitted_url
        where url = #{url}
    </select>


    <update id="updateUrl">
        update permitted_url
        set url = #{url}
        where id = #{id}
    </update>
</mapper>