<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.organization.service.dao.DepartmentMapper">

    <resultMap id="department" type="com.xiaohuashifu.recruit.organization.service.do0.DepartmentDO">
        <id property="id" column="id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="abbreviationDepartmentName" column="abbreviation_department_name"/>
        <result property="introduction" column="introduction"/>
        <result property="logoUrl" column="logo_url"/>
        <result property="numberOfMembers" column="number_of_members"/>
        <result property="labels" column="labels"
                typeHandler="com.xiaohuashifu.recruit.common.mybatis.type.StringSetTypeHandler"/>
        <result property="deactivated" column="is_deactivated"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="department">
        id, organization_id, department_name, abbreviation_department_name, introduction, logo_url, number_of_members,
        labels, is_deactivated, create_time, update_time
    </sql>

    <insert id="insertDepartment" keyProperty="id">
        insert into department(organization_id, department_name, abbreviation_department_name, labels)
        values(#{organizationId}, #{departmentName}, #{abbreviationDepartmentName}, json_array())
    </insert>

    <select id="getDepartment" resultMap="department">
        select <include refid="department"/>
        from department
        where id = #{id}
    </select>

    <select id="getDeactivated" resultType="boolean">
        select is_deactivated
        from department
        where id = #{id}
    </select>

    <select id="getLogoUrl" resultType="string">
        select logo_url
        from department
        where id = #{id}
    </select>

    <select id="getOrganizationId" resultType="long">
        select organization_id
        from department
        where id = #{id}
    </select>

    <select id="listDepartments" resultMap="department">
        select <include refid="department"/>
        from department
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ids != null">
                and id in (
                <foreach collection="ids"  item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="organizationId != null">
                and organization_id = #{organizationId}
            </if>
            <if test="departmentName != null">
                and department_name like "%"#{departmentName}"%"
            </if>
            <if test="abbreviationDepartmentName != null">
                and abbreviation_department_name like "%"#{abbreviationDepartmentName}"%"
            </if>
            <if test="deactivated != null">
                and is_deactivated = #{deactivated}
            </if>
        </where>
        <if test="orderByDeactivated || orderByDeactivatedDesc || orderByDepartmentName || orderByDepartmentNameDesc
         || orderByAbbreviationDepartmentName || orderByAbbreviationDepartmentNameDesc
         || orderByCreateTime || orderByCreateTimeDesc || orderByUpdateTime || orderByUpdateTimeDesc">
            order by
            <trim suffixOverrides=",">
                <if test="orderByDeactivated">
                    is_deactivated,
                </if>
                <if test="orderByDeactivatedDesc">
                    is_deactivated desc,
                </if>
                <if test="orderByDepartmentName">
                    department_name,
                </if>
                <if test="orderByDepartmentNameDesc">
                    department_name desc,
                </if>
                <if test="orderByAbbreviationDepartmentName">
                    abbreviation_department_name,
                </if>
                <if test="orderByAbbreviationDepartmentNameDesc">
                    abbreviation_department_name desc,
                </if>
                <if test="orderByCreateTime">
                    create_time,
                </if>
                <if test="orderByCreateTimeDesc">
                    create_time desc,
                </if>
                <if test="orderByUpdateTime">
                    update_time,
                </if>
                <if test="orderByUpdateTimeDesc">
                    update_time desc,
                </if>
            </trim>
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
        from department
        where id = #{id}
    </select>

    <select id="countByOrganizationIdAndDepartmentName" resultType="int">
        select count(*)
        from department
        where organization_id = #{organizationId}
        and department_name = #{departmentName}
    </select>

    <select id="countByOrganizationIdAndAbbreviationDepartmentName" resultType="int">
        select count(*)
        from department
        where organization_id = #{organizationId}
        and abbreviation_department_name = #{abbreviationDepartmentName}
    </select>

    <select id="countLabels" resultType="int">
        select json_length(labels)
        from department
        where id = #{id}
    </select>

    <update id="updateDepartmentName">
        update department
        set department_name = #{departmentName}
        where id = #{id}
    </update>

    <update id="updateAbbreviationDepartmentName">
        update department
        set abbreviation_department_name = #{abbreviationDepartmentName}
        where id = #{id}
    </update>

    <update id="updateIntroduction">
        update department
        set introduction = #{introduction}
        where id = #{id}
    </update>

    <update id="updateLogoUrl">
        update department
        set logo_url = #{logoUrl}
        where id = #{id}
    </update>

    <update id="updateDeactivated">
        update department
        set is_deactivated = #{deactivated}
        where id = #{id}
    </update>

    <update id="addLabel">
        update department
        set labels = json_array_append(labels, '$', #{label})
        where id = #{id}
          and not #{label} member of(labels->'$')
    </update>

    <update id="removeLabel">
        update department
        set labels = json_remove(labels, replace(json_search(labels, 'one', #{label}), '"', ''))
        where id = #{id}
          and #{label} member of(labels->'$')
    </update>

    <delete id="removeLabels">
        update department
        set labels = json_remove(labels, replace(json_search(labels, 'one', #{label}), '"', ''))
        where #{label} member of(labels->'$')
    </delete>

    <update id="increaseNumberOfMembers">
        update department
        set number_of_members = number_of_members + 1
        where id = #{id}
    </update>

    <update id="decreaseNumberOfMembers">
        update department
        set number_of_members = number_of_members - 1
        where id = #{id}
    </update>

</mapper>