<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.organization.service.dao.OrganizationMemberInvitationMapper">

    <resultMap id="organizationMemberInvitation"
               type="com.xiaohuashifu.recruit.organization.service.do0.OrganizationMemberInvitationDO">
        <id property="id" column="id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="userId" column="user_id"/>
        <result property="invitationTime" column="invitation_time"/>
        <result property="invitationStatus" column="invitation_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="organizationMemberInvitation">
        id, organization_id, user_id, invitation_time, invitation_status, create_time, update_time
    </sql>

    <insert id="insertOrganizationMemberInvitation" keyProperty="id">
        insert into organization_member_invitation(organization_id, user_id, invitation_time, invitation_status)
        values(#{organizationId}, #{userId}, #{invitationTime}, #{invitationStatus})
    </insert>

    <select id="getOrganizationMemberInvitation" resultMap="organizationMemberInvitation">
        select <include refid="organizationMemberInvitation"/>
        from organization_member_invitation
        where id = #{id}
    </select>

    <select id="listOrganizationMemberInvitations" resultMap="organizationMemberInvitation">
        select <include refid="organizationMemberInvitation"/>
        from organization_member_invitation
        <where>
            <if test="organizationId != null">
                and organization_id = #{organizationId}
            </if>
            <if test="invitationStatus != null">
                and invitation_status = #{invitationStatus}
            </if>
        </where>
        <if test="orderByOrganizationId || orderByOrganizationIdDesc
         || orderByInvitationStatus || orderByInvitationStatusDesc || orderByInvitationTime || orderByInvitationTimeDesc
         || orderByCreateTime || orderByCreateTimeDesc || orderByUpdateTime || orderByUpdateTimeDesc">
            order by
            <trim suffixOverrides=",">
                <if test="orderByOrganizationId">
                    organization_id,
                </if>
                <if test="orderByOrganizationIdDesc">
                    organization_id desc,
                </if>
                <if test="orderByInvitationStatus">
                    invitation_status,
                </if>
                <if test="orderByInvitationStatusDesc">
                    invitation_status desc,
                </if>
                <if test="orderByInvitationTime">
                    invitation_time,
                </if>
                <if test="orderByInvitationTimeDesc">
                    invitation_time desc,
                </if>
                <if test="orderByCreateTime">
                    create_time,
                </if>
                <if test="orderByCreateTimeDesc">
                    create_time desc,
                </if>
                <if test="orderByUpdateTime">
                    update_time,
                </if>
                <if test="orderByUpdateTimeDesc">
                    update_time desc,
                </if>
            </trim>
        </if>
    </select>

    <select id="countByOrganizationIdAndUserIdAndInvitationStatus" resultType="int">
        select count(*)
        from organization_member_invitation
        where organization_id = #{organizationId}
        and user_id = #{userId}
        and invitation_status = #{invitationStatus}
    </select>

    <update id="updateInvitationStatus">
        update organization_member_invitation
        set invitation_status = #{invitationStatus}
        where id = #{id}
    </update>

</mapper>