<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.organization.service.dao.OrganizationMapper">

    <update id="addLabel">
        update organization
        set labels = json_array_append(labels, '$', #{label})
        where id = #{id}
        and not #{label} member of(labels->'$')
    </update>

    <update id="removeLabel">
        update organization
        set labels = json_remove(labels, replace(json_search(labels, 'one', #{label}), '"', ''))
        where id = #{id}
        and #{label} member of(labels->'$')
    </update>

    <delete id="removeLabels">
        update organization
        set labels = json_remove(labels, replace(json_search(labels, 'one', #{label}), '"', ''))
        where #{label} member of(labels->'$')
    </delete>

    <update id="increaseMemberNumber">
        update organization
        set number_of_members = number_of_members + 1
        where id = #{id}
    </update>

    <update id="decreaseMemberNumber">
        update organization
        set number_of_members = number_of_members - 1
        where id = #{id}
    </update>

    <update id="increaseNumberOfDepartments">
        update organization
        set number_of_departments = number_of_departments + 1
        where id = #{id}
    </update>

    <update id="decreaseNumberOfDepartments">
        update organization
        set number_of_departments = number_of_departments - 1
        where id = #{id}
    </update>

</mapper>