<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.organization.service.dao.OrganizationMemberMapper">

    <resultMap id="organizationMember" type="com.xiaohuashifu.recruit.organization.service.do0.OrganizationMemberDO">
        <id property="id" column="id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="departmentId" column="department_id"/>
        <result property="organizationPositionId" column="organization_position_id"/>
        <result property="userId" column="user_id"/>
        <result property="memberStatus" column="member_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="organizationMember">
        id, organization_id, department_id, organization_position_id, user_id, member_status, create_time, update_time
    </sql>

    <insert id="insertOrganizationMember" keyProperty="id">
        insert into organization_member(organization_id, user_id)
        values(#{organizationId}, #{userId})
    </insert>

    <select id="getOrganizationMember" resultMap="organizationMember">
        select <include refid="organizationMember"/>
        from organization_member
        where id = #{id}
    </select>

<!--    <select id="listOrganizations" resultMap="organization">-->
<!--        select <include refid="organization"/>-->
<!--        from organization-->
<!--        <where>-->
<!--            <if test="id != null">-->
<!--                and id = #{id}-->
<!--            </if>-->
<!--            <if test="ids != null">-->
<!--                and id in (-->
<!--                <foreach collection="ids"  item="item" index="index" separator=",">-->
<!--                    #{item}-->
<!--                </foreach>-->
<!--                )-->
<!--            </if>-->
<!--            <if test="userId != null">-->
<!--                and user_id = #{userId}-->
<!--            </if>-->
<!--            <if test="organizationName != null">-->
<!--                and organization_name like "%"#{organizationName}"%"-->
<!--            </if>-->
<!--            <if test="abbreviationOrganizationName != null">-->
<!--                and abbreviation_organization_name like "%"#{abbreviationOrganizationName}"%"-->
<!--            </if>-->
<!--            <if test="available != null">-->
<!--                and is_available = #{available}-->
<!--            </if>-->
<!--        </where>-->
<!--        <if test="orderByAvailable || orderByAvailableDesc || orderByOrganizationName || orderByOrganizationNameDesc-->
<!--         || orderByAbbreviationOrganizationName || orderByAbbreviationOrganizationNameDesc-->
<!--         || orderByCreateTime || orderByCreateTimeDesc || orderByUpdateTime || orderByUpdateTimeDesc">-->
<!--            order by-->
<!--            <trim suffixOverrides=",">-->
<!--                <if test="orderByAvailable">-->
<!--                    is_available,-->
<!--                </if>-->
<!--                <if test="orderByAvailableDesc">-->
<!--                    is_available desc,-->
<!--                </if>-->
<!--                <if test="orderByOrganizationName">-->
<!--                    organization_name,-->
<!--                </if>-->
<!--                <if test="orderByOrganizationNameDesc">-->
<!--                    organization_name desc,-->
<!--                </if>-->
<!--                <if test="orderByAbbreviationOrganizationName">-->
<!--                    abbreviation_organization_name,-->
<!--                </if>-->
<!--                <if test="orderByAbbreviationOrganizationNameDesc">-->
<!--                    abbreviation_organization_name desc,-->
<!--                </if>-->
<!--                <if test="orderByCreateTime">-->
<!--                    create_time,-->
<!--                </if>-->
<!--                <if test="orderByCreateTimeDesc">-->
<!--                    create_time desc,-->
<!--                </if>-->
<!--                <if test="orderByUpdateTime">-->
<!--                    update_time,-->
<!--                </if>-->
<!--                <if test="orderByUpdateTimeDesc">-->
<!--                    update_time desc,-->
<!--                </if>-->
<!--            </trim>-->
<!--        </if>-->
<!--    </select>-->

    <select id="countByOrganizationIdAndUserId" resultType="int">
        select count(*)
        from organization_member
        where organization_id = #{organizationId}
          and user_id = #{userId}
    </select>

</mapper>