<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.organization.service.dao.OrganizationPositionMapper">

    <resultMap id="organizationPosition" type="com.xiaohuashifu.recruit.organization.service.do0.OrganizationPositionDO">
        <id property="id" column="id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="positionName" column="position_name"/>
        <result property="priority" column="priority"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="organizationPosition">
        id, organization_id, position_name, priority, create_time, update_time
    </sql>

    <insert id="insertOrganizationPosition" keyProperty="id">
        insert into organization_position(organization_id, position_name, priority)
        values(#{organizationId}, #{positionName}, #{priority})
    </insert>

    <delete id="deleteOrganizationPosition">
        delete from organization_position
        where id = #{id}
    </delete>

    <select id="getOrganizationPosition" resultMap="organizationPosition">
        select <include refid="organizationPosition"/>
        from organization_position
        where id = #{id}
    </select>

    <select id="getPositionName" resultType="string">
        select position_name
        from organization_position
        where id = #{id}
    </select>

    <select id="getOrganizationId" resultType="long">
        select organization_id
        from organization_position
        where id = #{id}
    </select>

    <select id="listOrganizationPositions" resultMap="organizationPosition">
        select <include refid="organizationPosition"/>
        from organization_position
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ids != null">
                and id in (
                <foreach collection="ids"  item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="organizationId != null">
                and organization_id = #{organizationId}
            </if>
            <if test="positionName != null">
                and position_name like "%"#{positionName}"%"
            </if>
            <if test="priority != null">
                and priority = #{priority}
            </if>
        </where>
        <if test="orderByPositionName || orderByPositionNameDesc || orderByPriority || orderByPriorityDesc
         || orderByCreateTime || orderByCreateTimeDesc || orderByUpdateTime || orderByUpdateTimeDesc">
            order by
            <trim suffixOverrides=",">
                <if test="orderByPositionName">
                    position_name,
                </if>
                <if test="orderByPositionNameDesc">
                    position_name desc,
                </if>
                <if test="orderByPriority">
                    priority,
                </if>
                <if test="orderByPriorityDesc">
                    priority desc,
                </if>
                <if test="orderByCreateTime">
                    create_time,
                </if>
                <if test="orderByCreateTimeDesc">
                    create_time desc,
                </if>
                <if test="orderByUpdateTime">
                    update_time,
                </if>
                <if test="orderByUpdateTimeDesc">
                    update_time desc,
                </if>
            </trim>
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
        from organization_position
        where id = #{id}
    </select>

    <select id="countByOrganizationIdPositionName" resultType="int">
        select count(*)
        from organization_position
        where organization_id = #{organizationId}
          and position_name = #{positionName}
    </select>

    <update id="updatePositionName">
        update organization_position
        set position_name = #{positionName}
        where id = #{id}
    </update>

    <update id="updatePriority">
        update organization_position
        set priority = #{priority}
        where id = #{id}
    </update>

</mapper>