<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.organization.service.dao.OrganizationMemberMapper">

    <resultMap id="organizationMember" type="com.xiaohuashifu.recruit.organization.service.do0.OrganizationMemberDO">
        <id property="id" column="id"/>
        <result property="organizationId" column="organization_id"/>
        <result property="departmentId" column="department_id"/>
        <result property="organizationPositionId" column="organization_position_id"/>
        <result property="userId" column="user_id"/>
        <result property="memberStatus" column="member_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="organizationMember">
        id, organization_id, department_id, organization_position_id, user_id, member_status, create_time, update_time
    </sql>

    <insert id="insertOrganizationMember" keyProperty="id">
        insert into organization_member(organization_id, user_id)
        values(#{organizationId}, #{userId})
    </insert>

    <select id="getOrganizationMember" resultMap="organizationMember">
        select <include refid="organizationMember"/>
        from organization_member
        where id = #{id}
    </select>

    <select id="listOrganizationMembers" resultMap="organizationMember">
        select <include refid="organizationMember"/>
        from organization_member
        <where>
            <if test="organizationId != null">
                and organization_id = #{organizationId}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="organizationPositionId != null">
                and organization_position_id = #{organizationPositionId}
            </if>
            <if test="memberStatus != null">
                and member_status = #{memberStatus}
            </if>
        </where>
        <if test="orderByOrganizationId || orderByOrganizationIdDesc || orderByDepartmentId || orderByDepartmentIdDesc
         || orderByMemberStatus || orderByMemberStatusDesc|| orderByCreateTime || orderByCreateTimeDesc
         || orderByUpdateTime || orderByUpdateTimeDesc">
            order by
            <trim suffixOverrides=",">
                <if test="orderByOrganizationId">
                    organization_id,
                </if>
                <if test="orderByOrganizationIdDesc">
                    organization_id desc,
                </if>
                <if test="orderByDepartmentId">
                    department_id,
                </if>
                <if test="orderByDepartmentIdDesc">
                    department_id desc,
                </if>
                <if test="orderByMemberStatus">
                    member_status,
                </if>
                <if test="orderByMemberStatusDesc">
                    member_status desc,
                </if>
                <if test="orderByCreateTime">
                    create_time,
                </if>
                <if test="orderByCreateTimeDesc">
                    create_time desc,
                </if>
                <if test="orderByUpdateTime">
                    update_time,
                </if>
                <if test="orderByUpdateTimeDesc">
                    update_time desc,
                </if>
            </trim>
        </if>
    </select>

    <select id="countByOrganizationIdAndUserId" resultType="int">
        select count(*)
        from organization_member
        where organization_id = #{organizationId}
          and user_id = #{userId}
    </select>

    <update id="updateDepartment">
        update organization_member
        set department_id = #{departmentId}
        where id = #{id}
    </update>

    <update id="updateOrganizationPosition">
        update organization_member
        set organization_position_id = #{organizationPositionId}
        where id = #{id}
    </update>

    <update id="updateMemberStatus">
        update organization_member
        set member_status = #{memberStatus}
        where id = #{id}
    </update>

    <update id="updateOrganizationPositionByOrganizationPositionId">
        update organization_member
        set organization_position_id = #{newOrganizationPositionId}
        where organization_position_id = #{oldOrganizationPositionId}
    </update>

</mapper>