<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.user.service.dao.CollegeMapper">
    <sql id="college">
        id, college_name, create_time, update_time
    </sql>

    <insert id="saveCollege" keyProperty="id">
        insert into college
        (college_name)
        values(#{collegeName})
    </insert>

    <delete id="delete">
        delete from college
        where id = #{id}
    </delete>

    <select id="getCollege" resultType="college">
        select <include refid="college"/>
        from college
        where id = #{id}
    </select>

    <select id="getCollegeByQuery" resultType="college">
        select <include refid="college"/>
        from college
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="idList != null">
                and id in (
                <foreach collection="idList"  item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="collegeName != null">
                and college_name like "%"#{collegeName}"%"
            </if>
        </where>
    </select>

    <select id="count" resultType="int">
        select count(*)
        from college
        where id = #{id}
    </select>

    <select id="countByCollegeName" resultType="int">
        select count(*)
        from college
        where college_name = #{collegeName}
    </select>


    <update id="updateCollegeName">
        update college
        set college_name = #{collegeName}
        where id = #{id}
    </update>
</mapper>