<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.user.service.dao.UserProfileMapper">

    <resultMap id="userProfile" type="com.xiaohuashifu.recruit.user.service.do0.UserProfileDO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="fullName" column="full_name"/>
        <result property="studentNumber" column="student_number"/>
        <result property="collegeId" column="college_id"/>
        <result property="majorId" column="major_id"/>
        <result property="introduction" column="introduction"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="userProfile">
        id, user_id, full_name, student_number, college_id, major_id, introduction, create_time, update_time
    </sql>

    <insert id="insertUserProfile" keyProperty="id">
        insert into user_profile(user_id)
        values(#{userId})
    </insert>

    <select id="getUserProfile" resultMap="userProfile">
        select <include refid="userProfile"/>
        from user_profile
        where id = #{id}
    </select>

    <select id="listUserProfiles" resultMap="userProfile">
        select <include refid="userProfile"/>
        from user_profile
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ids != null">
                and id in (
                <foreach collection="ids" item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="fullName != null">
                and full_name like "%"#{fullName}"%"
            </if>
            <if test="studentNumber != null">
                and student_number like "%"#{studentNumber}"%"
            </if>
            <if test="collegeId != null">
                and college_id = #{collegeId}
            </if>
            <if test="majorId != null">
                and major_id = #{majorId}
            </if>
            <if test="introduction != null">
                and introduction like "%"#{introduction}"%"
            </if>
        </where>
    </select>

    <select id="getUserId" resultType="long">
        select user_id
        from user_profile
        where id = #{id}
    </select>

    <select id="countByUserId" resultType="int">
        select count(*)
        from user_profile
        where user_id = #{userId}
    </select>

    <update id="updateFullName">
        update user_profile
        set full_name = #{fullName}
        where id = #{id}
    </update>

    <update id="updateStudentNumber">
        update user_profile
        set student_number = #{studentNumber}
        where id = #{id}
    </update>

    <update id="updateCollegeIdAndMajorId">
        update user_profile
        set college_id = #{collegeId}, major_id = #{majorId}
        where id = #{id}
    </update>

    <update id="updateIntroduction">
        update user_profile
        set introduction = #{introduction}
        where id = #{id}
    </update>
</mapper>