<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.recruit.user.service.dao.UserProfileMapper">

    <resultMap id="userProfile" type="userProfile">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="fullName" column="full_name"/>
        <result property="studentNumber" column="student_number"/>
        <result property="college" column="college"/>
        <result property="major" column="major"/>
        <result property="introduction" column="introduction"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="userProfile">
        id, user_id, full_name, student_number, college, major, introduction, create_time, update_time
    </sql>

    <insert id="insertUserProfile">
        insert into user_profile(user_id)
        values(#{userId})
    </insert>

    <select id="getUserProfile" resultMap="userProfile">
        select <include refid="userProfile"/>
        from user_profile
        where id = #{id}
    </select>

    <select id="listUserProfiles" resultMap="userProfile">
        select <include refid="userProfile"/>
        from user_profile
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="idList != null">
                and id in (
                <foreach collection="idList"  item="item" index="index" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="fullName != null">
                and full_name like "%"#{fullName}"%"
            </if>
            <if test="studentNumber != null">
                and student_number like "%"#{studentNumber}"%"
            </if>
            <if test="college != null">
                and college like "%"#{college}"%"
            </if>
            <if test="major != null">
                and major like "%"#{major}"%"
            </if>
            <if test="introduction != null">
                and introduction like "%"#{introduction}"%"
            </if>
        </where>
    </select>

    <select id="getUserProfileByUserId" resultMap="userProfile">
        select <include refid="userProfile"/>
        from user_profile
        where user_id = #{userId}
    </select>

    <select id="countByUserId" resultType="int">
        select count(*)
        from user_profile
        where user_id = #{userId}
    </select>

    <update id="updateFullName">
        update user_profile
        set full_name = #{fullName}
        where user_id = #{userId}
    </update>

    <update id="updateStudentNumber">
        update user_profile
        set student_number = #{studentNumber}
        where user_id = #{userId}
    </update>

    <update id="updateCollegeAndMajor">
        update user_profile
        set college = #{college}, major = #{major}
        where user_id = #{userId}
    </update>

    <update id="updateIntroduction">
        update user_profile
        set introduction = #{introduction}
        where user_id = #{userId}
    </update>
</mapper>